@model DPGSalesClient.Models.PopupViewModel

<div id="_PopupNotificationView" style="display: block;">
    <div class="modal in" id="ajaxModal" style="display: block;">
        <div class="modal-dialog @Model.Dialog">
            <div class="modal-content">
                <div class="modal-header r-t @Model.CssClassHeader " style="border-bottom:none">
                    <h4 class="modal-title" >@Model.Header</h4>
                </div>
                <div class="modal-body">
                    <label> @Model.Message</label>
                    @if (Model.MessageItems != null && Model.MessageItems.Count() > 0)
                    {
                        <div class="block">
                            <table>
                                @foreach (var item in Model.MessageItems)
                                {
                                    <tr>
                                        <td><span class="text-muted">@item.Name :</span></td>
                                        <td><span class="m-l"><strong>@item.Value</strong></span></td>
                                    </tr>
                                }
                                <tr></tr>
                            </table>

                        </div>
                    }
                </div>
                <div class="modal-footer" style="border-top:none">
                    <a id="closePopupNotificationView" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times-circle"></i> Close</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="modal-backdrop in"></div>
</div>





@*<div id="Popup" style="display: block;">
    <div style="display: block;">
        <div class="modal modal-primary fade" id="modal-primary">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title">Primary Modal</h4>
                    </div>
                    <div class="modal-body">
                        <p>One fine body…</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-outline">Save changes</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#modal-primary').modal('show');

            });
        </script>
    </div>
</div>*@



