@model DPGSalesClient.Models.EnquiryForeCastReportModel.ReportViewModel
<style>
    .chart-legend ul {
        list-style-type: none;
    }

    .chart-legend li span {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 8px;
    }
</style>

<section class="content-header">
    <h1>Enquiry Due Date Report</h1>
</section>
<section class="content">
    <form asp-action="EnquiryForecastReportExcel" asp-controller="EnquiryForecastReport" id="frmEnquiryForecastReport">
        <div class="box box-info">
            <div class="box-body">
                <div class="form-horizontal">


                    <div class="form-group">
                        <div class="col-md-2">
                            <label>Divison</label>
                        </div>
                        <div class="col-md-8">
                            <input asp-for=@Model.Division type="hidden" />
                            <select class="form-control select2 " multiple="multiple" id="DivisionID" asp-items="@(new SelectList(Model.DivisionList,"Value","Text"))" data-placement="Select Division"></select>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-info pull-right margin-r-5 btn-block" style="padding-left:35px;padding-right:35px" type="button" id="btnSearch"><i class="fa fa-line-chart"></i> Go</button>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-2">
                            <label>Branch</label>
                        </div>
                        <div class="col-md-8">
                            <input asp-for="@Model.Branch" type="hidden" />
                            <select class="form-control select2" multiple="multiple" id="BranchID" asp-items="@(new SelectList(Model.BranchList,"Value","Text"))" data-placement="Select Branch"></select>
                        </div>

                        <div class="col-md-2">
                            <button class="btn btn-primary pull-right margin-r-5 btn-block" style="padding-left:35px;padding-right:35px" type="button" id="btnExport"><i class="fa fa-file-excel-o"></i> Export</button>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-2">
                            <label>Date From<span class="text-red">*</span></label>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" asp-for="@Model.DateFrom" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label>Date To<span class="text-red">*</span></label>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" asp-for="@Model.DateTo" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <div id="divChartContainer">
                                <canvas id="lineChart" style="height:250px"></canvas>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div id="line_legend" class="chart-legend"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      

    </form>
</section>

@section scripts{
    <script src="~/theme-blue/bower_components/Chart.js/Chart.js"></script>
    <!-- Page script -->
    <script src="~/js/scripts/EnquiryForecastReport/enquiryforecast.js"></script>

}