@model DPGSalesClient.Models.OrderDetailsModel

@section styles{
    <link href="~/css/Details.css" rel="stylesheet" />
}

<section class="content-header">
    <h1 class="text-muted">
       Order Details
    </h1>   
</section>
<section class="content" >

    <input type="hidden" asp-for="@Model.OrderID" />
    <div class="box box-primary" style="padding-right:50px">
        <div class="box-header with-border">
            <h3 class="box-title">Location Info</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-3 details">
                    <label class="hdr">Division </label><br />  
                    <label class="val">@Model.Division </label>
                </div>
                <div class="col-md-3 details">
                    <label class="hdr">Region</label><br />
                    <label class="val">@Model.Region</label>
                </div>

                <div class="col-md-3 details">
                    <label class="hdr">Branch </label><br />
                    <label class="val">@Model.Branch</label>
                </div>
                <div class="col-md-3 details">
                    <label class="hdr">SalesOffice</label><br />
                    <label class="val">@Model.SalesOffice</label>
                </div>
            </div>

            <div class="row p-t-15">
                <div class="col-md-3 details ">
                    <label class="hdr">Plant</label><br />
                    <label class="val">@Model.Plant</label>
                </div>

            </div>
        </div>
    </div>

    <div class="box box-info" style="padding-right:50px">
        <div class="box-header with-border">
            <h3 class="box-title">Customer Info</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-3 details">
                    <label class="hdr">Customer Code</label>  <br />
                    <label class="val">@Model.CustomerCode</label>
                </div>
                <div class="col-md-3 details">
                    <label class="hdr">Customer Name</label><br />
                    <label class="val">@Model.CustomerName</label>
                </div>
                <div class="col-md-3 details">
                    <label class="hdr">Customer Classification</label><br />
                    <label class="val">@Model.CustomerClassification</label>
                </div>
                <div class="col-md-3 details">
                    <label class="hdr">Customer Type</label><br />
                    <label class="val">@Model.CustomerType</label>
                </div>

            </div>
            <div class="row p-t-15">
                <div class="col-md-3 details">
                    <label class="hdr">Customer Segment</label>  <br />
                    <label class="val">@Model.CustomerSegment</label>
                </div>
                <div class="col-md-3 details">
                    <label class="hdr">Customer Sub Segment</label><br />
                    <label class="val">@Model.CustomerSubSegment</label>
                </div>
                <div class="col-md-3 details">

                </div>
                <div class="col-md-3 details">

                </div>

            </div>

        </div>
    </div>
    <div class="box box-success" style="padding-right:50px">
        <div class="box-header with-border">
            <h3 class="box-title">Order Details</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-3 details">
                    <label class="hdr">Quote No</label>  <br />
                    <label class="val">@Model.QuoteID</label>
                </div>
                <div class="col-md-3 details">
                    <label class="hdr">Project Name</label><br />
                    <label class="val">@Model.ProjectName</label>
                </div>
                <div class="col-md-3 details">
                    <label class="hdr">Order Type</label><br />
                    <label class="val">@Model.OrderType</label>
                </div>
                <div class="col-md-3 details">
                    <label class="hdr">Total Item Value(In Lakhs)</label><br />
                    <label class="val">@Model.TotalItemValue</label>
                </div>
            </div>
            <div class="row p-t-15">
                <div class="col-md-3 details ">
                    <label class="hdr">Won/Loss</label><br />
                    <label class="val">@Model.WonLossValue</label>
                </div>
                <div class="col-md-3 details">
                    <label class="hdr">Reason </label><br />
                    <label class="val">@Model.Reasons</label>
                </div>

                <div class="col-md-3 details">
                    <label class="hdr">PO No</label><br />
                    <label class="val">@Model.PONo</label>
                </div>

                <div class="col-md-3 details">
                    <label class="hdr">PO Date</label><br />
                    <label class="val">@String.Format("{0:dd/MM/yyyy}", Model.PODate)</label>
                </div>
            </div>
            <div class="row p-t-15">
                <div class="col-md-3 details ">
                    <label class="hdr">Contract Value(In Lakhs)</label><br />
                    <label class="val">@Model.ContractValue</label>
                </div>
                <div class="col-md-3 details">
                    <label class="hdr">Total Cost(In Lakhs)</label><br />
                    <label class="val">@Model.TotalCost</label>
                </div>
                <div class="col-md-3 details">
                    <label class="hdr">Business Segment</label><br />
                    <label class="val">@Model.BusinessSegment</label>
                </div>
                @*<div class="col-md-3 details">
                    <label class="hdr">Document Created Date</label><br />
                    <label class="val">@String.Format("{0:dd/MM/yyyy}", Model.DocumentCreatedDate)</label>
                </div>*@
            </div>
            <div class="row p-t-15">
                <div class="col-md-3 details ">
                    <label class="hdr">Assign To</label><br />
                    <label class="val">@Model.AssignTo</label>
                </div>
                <div class="col-md-3 details">
                    <label class="hdr">Comp. Name</label><br />
                    <label class="val">@Model.CompName</label>
                </div>
                <div class="col-md-3 details">
                    <label class="hdr">Architect</label><br />
                    <label class="val">@Model.Architect</label>
                </div>
                <div class="col-md-3 details">
                    <label class="hdr">Consultant</label><br />
                    <label class="val">@Model.Consultant</label>
                </div>
            </div>
            
            <div class="row p-t-15">
                <div class="col-md-3 details">
                    <label class="hdr">Total Tonnage </label><br />
                    <label class="val">@Model.TotalTonnage</label>
                </div>
                <div class="col-md-3 details">
                    <label class="hdr">Competitor Price </label><br />
                    <label class="val">@Model.CompititorPrice</label>
                </div>
                <div class="col-md-3 details">
                    <label class="hdr">Turn Over Value(In Lakhs) </label><br />
                    <label class="val">@Model.TurnOver</label>
                </div>
                <div class="col-md-3 details">
                    <label class="hdr">Gross Margin</label><br />
                    <label class="val">@Model.GrossMargin</label>
                </div>              
            </div>
            <div class="row p-t-15">
                <div class="col-md-3 details">
                    <label class="hdr">Classification 1</label><br />
                    <label class="val">@Model.Classification1</label>
                </div>

                <div class="col-md-3 details">
                    <label class="hdr">Classification 2 </label><br />
                    <label class="val">@Model.Classification2</label>
                </div>
                <div class="col-md-3 details ">
                    <label class="hdr">Classification 3</label><br />
                    <label class="val">@Model.Classification3</label>
                </div>
                <div class="col-md-3 details">
                    <label class="hdr">Classification 4 </label><br />
                    <label class="val">@Model.Classification4</label>
                </div>
            </div> 
            <div class="row p-t-15">
               
                <div class="col-md-3 details">
                    <label class="hdr">Quote ID </label><br />
                    <label class="val">@Model.QuoteID</label>
                </div>
                <div class="col-md-3 details">
                    <label class="hdr">Enquiry ID </label><br />
                    <label class="val">@Model.EnquiryID</label>
                </div>
                <div class="col-md-3 details">
                    <label class="hdr">Lead ID </label><br />
                                                       <label class="val">
                                                           @if (Model.isDirect)
                                                           {
                                                               @Model.LeadID
                                                           }
                                                           else
                                                           {
                                                               <input type="hidden" asp-for="@Model.LeadID" />
                                                           }

                                                       </label>
                </div>
                <div class="col-md-3 details">

                </div>
            </div>   
            
        </div>
    </div>

    <div class="box box-warning" style="padding-right:50px">
        <div class="box-header with-border">
            <h3 class="box-title">Documents</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    @if (Model.Files != null && Model.Files.Count > 0)
                    {
                        <ol>
                            @foreach (var file in Model.Files)
                            {
                                <li style="color:#673AB7;font-size: 14px;font-weight: 600;">
                                    <a href="@file.FileUrl" target="_blank" style="color: #673AB7;font-size: 14px;font-weight: 600;">
                                        @file.Name
                                    </a>
                                </li>
                            }
                        </ol>
                    }
                    else
                    {
                        <span>No Attachments</span>
                    }

                </div>


            </div>
        </div>
    </div>

    <div class="row">
        @if(ViewBag.RoleId != "ROLE000010")
        {
            string strCssDisable = "";
            string strParentCssDisable = "";
            {

                if(Model.Status != null && Model.Status.ToUpper() == "OPEN")
                {
                    strCssDisable = "";
                    strParentCssDisable = "";
                }
                else
                {
                    strCssDisable = "disable";
                    strParentCssDisable = "disable-hdr";
                }
            }


            <div class="col-md-3 ">
                <a class="btn btn-warning btn-details nav-btn" href="@Url.Action( "Edit", "Order", new { ordId = Model.OrderID, status = Model.Status } )"><div><i class="fa fa-pencil"></i><br /><span>Edit</span></div></a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-info btn-details nav-btn" href="@Url.Action( "Index", "Order" )"><div><i class="fa fa-arrow-circle-o-left"></i><br /><span>Back</span></div></a>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
        }
        else
        {
            <div class="col-md-3">
                <a class="btn btn-info btn-details nav-btn" href="@Url.Action( "Index", "Order" )"><div><i class="fa fa-arrow-circle-o-left"></i><br /><span>Back</span></div></a>
            </div>
        }
    </div>


    <!-- Modal -->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#1366a8">
                    <h5 class="modal-title" id="confirmModalLabel" style="font-weight: bold;width: 80%;float: left;color:white"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                  
                <label id="lblMsg"></label>
                </div>
                <div class="modal-footer" style="text-align:center">
                     <button type="button" id="btnCloseActivityOk" style="width:80px" class="btn btn-primary nav-btn">Yes</button>
                     <button type="button" class="btn btn-secondary" style="width:80px" data-dismiss="modal">No</button>                   
                </div>
            </div>
        </div>
    </div>
</section>


@section scripts{
<script type="text/javascript">
        $('.ConformButton').click(function (obj) {
            debugger;
            var btnName = $(this).attr('id').replace('btn', '').replace('Quote', '');
            switch (btnName.toUpperCase()) {
                case 'BUDGETARY':
                    $('#confirmModalLabel').html('BUDGETARY');
                    $('#lblMsg').html('Are you sure you want to change status Budgetary?');
                    break;
                case 'CANCEL':
                    $('#confirmModalLabel').html('CANCELLED');
                    $('#lblMsg').html('Are you sure you want to Cancel?');
                    break;
                case 'DIFFERED':
                    $('#confirmModalLabel').html('DIFFERED');
                    $('#lblMsg').html('Are you sure you want to Differ?');
                    break;
            }

            $('#confirmModal').modal('show');
            return false;
        });       
      
        $('#btnCloseActivityOk').click(function () {
            debugger;
            $.post('@Url.Action("UpdateQuotationByConfirmation", "Quote")', { qteId: $('#QuoteID').val(), strAction: $('#confirmModalLabel').html() }).done(function (data) {
                if (data != null) {
                    if (data.status == "SUCCESS") {
                        window.location = '@Url.Action("Index","Quote")';
                    } else {

                    }
                }
                $("#initialload").hide();
                $('#confirmModal').modal('hide');
            });
        });
      

</script>
   
}