@model DPGSalesClient.Models.OrderViewModel

@section styles{
    <link href="~/css/Index.css" rel="stylesheet" />
}


<section class="content-header">
    <h1>
        Orders
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-4 ">
            <form asp-action="Search" asp-controller="Order" method="post" id="searchForm">
                <div class="form-group">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" id="SearchKey" placeholder="Order ID or Customer Name" value="@Model?.SearchKey">
                        <span class="input-group-btn">
                            <button id="btnSearch" class="btn btn-primary btn-flat nav-btn"><i class="fa fa-search"></i></button>
                            <a href="@Url.Action("Index","Order")" class="btn btn-primary btn-flat  nav-btn"><i class="fa fa-close"></i></a>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row table-responsive text-nowrap">
        <div class="col-xs-12">

            <table id="example2" class="table table-striped">
                <thead>
                    <tr>
                        <th>Division</th>
                        <th>Branch</th>
                        <th>Order No</th>
                        <th>Customer</th>
                        <th>Business Segment</th>
                        <th>Status</th>
                        <th>Contract Value(In Lakhs)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.OrderList != null && Model.OrderList.Count > 0)
                    {
                        @foreach (var item in Model.OrderList)
                        {
                            string strCssDiable = "disable";
                            if(ViewBag.RoleId == "ROLE000010")
                            {
                                strCssDiable = "disable";
                            }

                            else if(item.Status.ToUpper() == "OPEN")
                            {
                                strCssDiable = "";
                            }
                            else
                            {
                                strCssDiable = "disable";
                            }

                    <tr>
                        <td>@item.Division</td>
                        <td>@item.Branch</td>
                        <td>@item.OrderID</td>
                        <td>@item.CustomerName</td>
                        <td>@item.BusineeSegment</td>
                        <td>@item.Status</td>
                        <td style="text-align:center">@item.ContractValue</td>
                        <td>
                            <a class="nav-btn" href="@Url.Action("Attachments","Order",new { ordId = @item.OrderID })" style="padding-right:15px;" title="Attachments"><i class="fa fa-paperclip text-aqua" style="font-size:18px;font-weight:500;"></i></a>
                            <a class="nav-btn " href="@Url.Action("Details","Order",new {ordId=@item.OrderID, status=@item.Status })" style="padding-right:15px;" title="Details"><i class="fa fa-list text-orange" style="font-size:18px"></i></a>
                            <a class="nav-btn @strCssDiable" href="@Url.Action("ActivityIndex","Order",new { ordId = @item.OrderID,custname=@item.CustomerName })" style="padding-right:5px;" title="Activities"><i class="fa fa-calendar-check-o text-primary" style="font-size:18px"></i></a>
                        </td>

                    </tr>
                        }
                    }
                </tbody>
            </table>





        </div>
        <!-- /.col -->
    </div>

</section>

@section scripts{
    <script type="text/javascript">
        $('#example2').DataTable({
            'paging': true,
            'lengthChange': false,
            'scrollX': true,
            'searching': false,
            'ordering': true,
            'info': true,
            'autoWidth': false,
            'pageLength': 8,
            'order': [[2, 'desc']]
        });

        $('#btnSearch').click(function () {
            var input = $("<input>").attr("type", "hidden").attr("name", "strKey").val($('#SearchKey').val());
            if ($('#SearchKey').val() != null && $('#SearchKey').val() != "") {
                $('#searchForm').append(input);
                $('#searchForm').submit();
            } else {

                alert('Please provide Order Id or Customer Name');
                return false;
            }
        });
    </script>
}