@model DPGSalesClient.Models.ContactPlanViewModel

@section styles{
    <link href="~/css/Index.css" rel="stylesheet" />
}

<section class="content-header">
    <h1>
        Lead Activities
    </h1>

</section>
<section class="content">

    <div class="row">
        <div class="col-md-4 ">
            <a href="@Url.Action("Index","Lead")" class="btn btn-default btn-flat nav-btn pull-left"><i class="fa fa-backward"></i> <span class="hidden-xs">Back</span></a>
        </div>
        <div class="col-md-4 col-lg-offset-4">

            <a href="@Url.Action("ActivityCreate","Lead",new {leadId= Model?.RefObjectID,custname=Model.CustomerName })" class="btn btn-info btn-flat nav-btn pull-right"><i class="fa fa-plus"></i> <span class="hidden-xs">New</span></a>
        </div>

    </div>

    <div class="row">
        <div class="col-xs-12">
            <table id="example2" class="table table-hover">
                <thead>
                    <tr>
                        <th>Visit Date</th>
                        <th>Customer Name</th>
                        <th>Obective of Visit</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model?.ActivityList!=null && Model?.ActivityList.Count > 0)
                    {
                    @foreach (var item in Model?.ActivityList)
                        {
                    <tr>
                        <td>@string.Format("{0:dd/MM/yyyy}", item.VisitOn)</td>
                        <td>@item.CustomerName</td>
                        <td>@item.ObjectOfVisit</td>
                        <td>@item.Status</td>
                        <td>
                            <a class="nav-btn" href="@Url.Action("ActivityAttachments", "Lead", new { activityId = @item.ActivityID,leadId=@item.DocumentID,custname=@item.CustomerName })" style="padding-right:15px;" title="Attachments"><i class="fa fa-paperclip text-orange" style="font-size:18px;font-weight:500;"></i></a>
                            <a class="nav-btn" href="@Url.Action("ActivityDetails", "Lead", new { activityId = @item.ActivityID,leadId=@item.DocumentID })" style="padding-right:5px;" title="Details"><i class="fa fa-list text-aqua" style="font-size:18px"></i></a>
                        </td>
                    </tr>
                        }}

                </tbody>
            </table>

        </div>
        <!-- /.col -->
    </div>

</section>

@section scripts{
    <script type="text/javascript">
        $('#example2').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': true,
            'info': true,
            'autoWidth': false,
            'pageLength': 8
        });


    </script>
}