@model DPGSalesClient.Models.LeadConvertEnquiryModel


<section class="content-header">
    <h1 class="pull-left">
        Lead to Enquiry
    </h1>    
    <a class="btn nav-btn bg-green pull-right" id="btnAddProduct">Items</a>
</section>
<section class="content">
   
    <form asp-action="ConvertToEnquiry" asp-controller="Lead" id="leadConvertForm">
        @*<input type="hidden" asp-for="@Model.LeadDocumentCreatedDate" />*@
        <input type="hidden" asp-for="@Model.LeadId" />
        <input type="hidden" asp-for="@Model.BusinessSegment" />
        <input type="hidden" asp-for="@Model.Division" />
        <div class="row">
            <div class="col-md-12">

                <div class="content">
                    <div class="box box-primary">

                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Enquiry Due Date <span class="text-red">*</span></label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control pull-right" asp-for="@Model.EnquiryMaturityDate" placeholder="dd/mm/yyyy">
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Tonnage</label>
                                        <input type="text" class="form-control" asp-for="@Model.Tonnage" readonly>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    @*<div class="form-group">
                                        <label>Document Created Date <span class="text-red">*</span></label>

                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control pull-right" asp-for="@Model.EnquiryDocumentCreatedDate" placeholder="dd/mm/yyyy">
                                        </div>

                                    </div>*@
                                </div>
                                <div class="col-md-6">
                                    @*<div class="form-group">
                                        <label>Enquiry Valid Date <span class="text-red">*</span></label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control pull-right" asp-for="@Model.EnquiryValidDate" placeholder="dd/mm/yyyy">
                                        </div>
                                    </div>*@
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <label>Total Value (In Lakhs)</label>
                                        <input type="text" class="form-control" asp-for="@Model.TotalValue" readonly>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-md-11 " style="text-align:center">
                                    <button class="btn btn-success  margin-r-5 nav-btn" style="padding-left:35px;padding-right:35px" type="submit">Save</button>
                                    <a class="btn btn-default  nav-btn" href="@Url.Action("Details","Lead",new {leadId=Model.LeadId,status="OPEN" })" style="padding-left:35px;padding-right:35px">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </form>



</section>

@section scripts{
    <script type="text/javascript">

        jQuery.validator.addMethod("DigitsTwoDecimal", function (value, element) {
            return this.optional(element) || /^\d{0,4}(\.\d{0,2})?$/i.test(value);
        }, "You must include four digits with two decimal places only ex:1234.56 or 1234");

        $('#EnquiryMaturityDate').datepicker({
            autoclose: true,
            format: 'd/m/yyyy',
            startDate: "today"
        }).on('changeDate', function (ev) {

            //if ($('#EnquiryValidDate').val() == "") {
            //    AlertPopup('Please select Enquiry Valid Date first');
            //    $('#EnquiryMaturityDate').val('');

            //} else if (ConvertStrDate($('#EnquiryMaturityDate').val()) > ConvertStrDate($('#EnquiryValidDate').val())) {
            //    AlertPopup('Maturity date should be less than or equal to Valid date (' + $('#EnquiryValidDate').val() + ')');
            //    $('#EnquiryMaturityDate').val('');

            //}

        });
        $('#EnquiryValidDate').datepicker({
            autoclose: true,
            format: 'd/m/yyyy',
            startDate: "today"
        });
        //$('#EnquiryDocumentCreatedDate').datepicker({
        //    autoclose: true,
        //    format: 'd/m/yyyy',
        //    endDate: "today",
        //    startDate: $('#LeadDocumentCreatedDate').val()
        //});

        
        $('#btnAddProduct').click(function () {
            debugger;

            //create
            var validator = $("#leadConvertForm").validate();
            var isValid = validator.form();
            var data = $("#leadConvertForm").serialize();

            if (isValid) {
                $.post('NavigateEnquiryItems', data).done(function (data) {
                    if (data != null) {
                        if (data.status == "FAILED") {
                            AlertPopup('Please provide all required data');
                        } else {
                            debugger;
                            window.location = "EnquiryItems?BusinessSegment=" + data.businessSegment;
                        }
                    }

                });

            } else {
                //  alert('failed');
            }

            return false;
        });

        $('#leadConvertForm').validate({
            errorClass: "error-class",
            rules: {
                EnquiryMaturityDate: {
                    required: true
                },

                
            },
            messages: {
                EnquiryMaturityDate: {
                    required: "Please provide Enquiry Maturity Date"

                }

            },
            submitHandler: function (form) {
                // do other things for a valid form
                form.submit();
            },
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                }
                else {
                    error.insertAfter(element);
                }

                //else if (element.parent('.my-input-group').length) {
                //        error.insertAfter(element.parent());
                //    }
            },
            invalidHandler: function (event, validator) {
                // 'this' refers to the form
                $("#initialload").hide();
            }
        });


        function ConvertStrDate(strDate) {
            if (strDate != null && strDate != "" && strDate != undefined) {
                return new Date(strDate.toString().split('/')[2], strDate.toString().split('/')[1], strDate.toString().split('/')[0])
            } else {
                return null;

            }
        }

    </script>
}