@model DPGSalesClient.Models.ContactPlanDetailsModel

@section styles{
    <link href="~/css/Details.css" rel="stylesheet" />
}

<section class="content-header">
    <h1 class="text-muted">
       Activity Details
    </h1>

</section>
<section class="container" >

    <input type="hidden" asp-for="@Model.ActivityId" />
    <input type="hidden" asp-for="@Model.DocumentID" />
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Customer Info</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-3 details">

                    <label class="hdr">CustomerID</label>  <br />
                    <label class="val">@Model.CustomerID</label>

                </div>
                <div class="col-md-3 details">

                    <label class="hdr">Name</label><br />
                    <label class="val">@Model.CustomerName</label>

                </div>
                <div class="col-md-3 details">

                    <label class="hdr">Contact Person</label><br />
                    <label class="val">@Model.ContactName</label>

                </div>
                <div class="col-md-3 details">

                    <label class="hdr">Designation</label><br />
                    <label class="val">@Model.Designation</label>

                </div>
            </div>
            <div class="row p-t-15">
                <div class="col-md-3 details ">

                    <label class="hdr">Mobile Number</label><br />
                    <label class="val">@Model.MobileNumber</label>

                </div>
                <div class="col-md-3 details">

                    <label class="hdr">Email ID </label><br />
                    <label class="val">@Model.EmailID</label>

                </div>

                <div class="col-md-3 details">


                </div>

                <div class="col-md-3 details">

                </div>
            </div>
        </div>
    </div>
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Activity Info</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-3 details">

                    <label class="hdr">Visit Date </label><br />
                    <label class="val">@String.Format("{0:dd/MM/yyyy}", Model.VisitOn)</label>

                </div>
                <div class="col-md-3 details">

                    <label class="hdr">Objective of the Visit</label><br />
                    <label class="val">@Model.ObjectiveofVisit</label>

                </div>

                <div class="col-md-3 details">

                    <label class="hdr">List of Discussion </label><br />
                    <label class="val">@Model.ListofDicsussion</label>


                </div>
                <div class="col-md-3 details">

                    <label class="hdr">Outcome of the meeting </label><br />
                    <label class="val">@Model.OutcomeofMeeting</label>

                </div>
            </div>

            <div class="row p-t-15">
                <div class="col-md-3 details ">

                    <label class="hdr">Support Required</label><br />
                    <label class="val">@Model.SupportRequired</label>

                </div>
                <div class="col-md-3 details">

                    <label class="hdr">Other Team Members </label><br />
                    <label class="val">@Model.OtherTeamMembers</label>

                </div>

                <div class="col-md-3 details">

                    <label class="hdr">DocumentID</label><br />
                    <label class="val">@Model.DocumentID</label>

                </div>

                <div class="col-md-3 details">
                    <label class="hdr">Remarks </label><br />
                    <label class="val">@Model.Remarks</label>
                </div>
            </div>
        </div>
    </div>
   
        <div class="box box-warning" style="padding-right:50px">
            <div class="box-header with-border">
                <h3 class="box-title">Documents</h3>
            </div>
            <div class="box-body">
                <div class="row">
                <div class="col-md-6">
                    @if (Model.Files != null && Model.Files.Count > 0)
                    {
                    <ol>
                        @foreach (var file in Model.Files)
                        {
                            <li style="color:#673AB7;font-size: 14px;font-weight: 600;">
                                <a href="@file.FileUrl" target="_blank" style="color: #673AB7;font-size: 14px;font-weight: 600;">
                                    @file.Name
                                </a>
                            </li>
                        }                       
                    </ol>
                    }
                    else
                    {
                        <span>No documents</span>
                    }

                </div>


                </div>
      
            </div>
        
        </div>
   
        <div class="row">
            @{
                string strCssDisable = "";
                string strParentCssDisable = "";
                if (Model.Status.ToUpper() == "OPEN")
                {
                    strCssDisable = "";
                    strParentCssDisable = "";
                }
                else
                {
                    strCssDisable = "disable";
                    strParentCssDisable = "disable-hdr";
                }
            }
        <div class="col-md-3 @strParentCssDisable">
            <a class="btn btn-danger btn-details nav-btn @strCssDisable"  id="btnReschedule"><div><i class="fa fa-refresh"></i><br /><span>Reschedule</span></div></a>
        </div>
        <div class="col-md-3 @strParentCssDisable">
            <a class="btn btn-info btn-details nav-btn @strCssDisable"  id="btnCloseActivity"><div><i class="fa fa-times-circle-o"></i><br /><span>Close</span></div></a>
        </div>
        <div class="col-md-3 @strParentCssDisable">
            <a class="btn btn-warning btn-details nav-btn @strCssDisable"  href="@Url.Action("ActivityEdit","EnquiryOpportunity",new {activityId=Model.ActivityId,enqId=Model.DocumentID})"><div><i class="fa fa-pencil"></i><br /><span>Edit</span></div></a>
        </div>
            <div class="col-md-3">
                <a class="btn btn-default btn-details nav-btn" href="@Url.Action("ActivityIndex","EnquiryOpportunity",new {enqId=Model.DocumentID,custname=Model.CustomerName })"><div><i class="fa fa-arrow-circle-o-left"></i><br /><span>Back</span></div></a>
            </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="rescheduleModal" tabindex="-1" role="dialog" aria-labelledby="rescheduleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Reschedule Activity</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
               
                    <div class="form-group">
                        <label>Next Visit Date <span class="text-red">*</span></label>

                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="dtNextVisitOn"  placeholder="dd/mm/yyyy">
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" id="btnResheduleActivity" class="btn btn-primary nav-btn">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="closeModal" tabindex="-1" role="dialog" aria-labelledby="closeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Close Activity</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Outcome of meeting </label>
                        <input type="text" class="form-control" id="outcomeofmeeting">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" id="btnCloseActivityOk" class="btn btn-primary nav-btn">Ok</button>
                </div>
            </div>
        </div>
    </div>

</section>


@section scripts{

    <script type="text/javascript">
        $('#btnReschedule').click(function () {
            var d = new Date()
            $('#dtNextVisitOn').val(d.getDate()+'/'+(d.getMonth()+1)+'/'+d.getFullYear());
            $('#rescheduleModal').modal('show');
            return false;
        });
        $('#btnCloseActivity').click(function () {
            $('#outcomeofmeeting').val('');
            $('#closeModal').modal('show');
            return false;
        });
        $('#btnResheduleActivity').click(function () {
            debugger;
            $.post('@Url.Action("RescheduleActivity", "EnquiryOpportunity")', { activityId: $('#ActivityId').val(), strNewVisitDate: $('#dtNextVisitOn').val() }).done(function (data) {
                if (data != null) {
                    if (data.status) {
                        window.location = '@Url.Action("ActivityIndex", "EnquiryOpportunity")' + '?enqId=' + $('#DocumentID').val();
                    }

                }
                $("#initialload").hide();
                $('#rescheduleModal').modal('hide');
            });

        });
        $('#btnCloseActivityOk').click(function () {
            debugger;
            $.post('@Url.Action("CloseActivity", "EnquiryOpportunity")', { activityId: $('#ActivityId').val(), strOutcome: $('#outcomeofmeeting').val() }).done(function (data) {
                if (data != null) {
                    if (data.status) {
                        window.location = '@Url.Action("ActivityIndex", "EnquiryOpportunity")' + '?enqId=' + $('#DocumentID').val();
                    }

                }
                $("#initialload").hide();
                $('#closeModal').modal('hide');
            });
        });
        $('#dtNextVisitOn').datepicker({
            autoclose: true,
            format: 'd/m/yyyy',
            startDate: "today"
        });

    </script>
}