@model DPGSalesClient.Models.LeadConvertEnquiryModel

@section styles{
    <link href="~/css/Index.css" rel="stylesheet" />
}
<section class="content-header">
    <h1>
        Enquiry Products
    </h1>
</section>
<section class="content">

    <div class="row" style="margin-bottom:10px">
        <div class="col-md-4 ">
            <a id="btnBackToEditCreate" class="btn btn-default btn-flat nav-btn pull-left"><i class="fa fa-backward"></i> <span class="hidden-xs">Back</span></a>
        </div>
        <div class="col-md-4 col-lg-offset-4">

            <a href="@Url.Action("EnquiryAddProductN","EnquiryOpportunity", new { BusinesSeg = Model.BusinessSegment })" class="btn btn-info btn-flat nav-btn pull-right"><i class="fa fa-plus"></i> <span class="hidden-xs">New</span></a>
        </div>

    </div>

    <form asp-action="ConvertToEnquiry" asp-controller="Lead" id="leadConvertForm">

        <input type="hidden" asp-for="@Model.LeadDocumentCreatedDate" />
        <input type="hidden" asp-for="@Model.BusinessSegment" />
        <input type="hidden" asp-for="@Model.LeadId" />

        <div class="box box-info">

            <div class="box-body">
                <div class="col-xs-12">
                    <table id="example2" class="table table-hover">
                        <thead>
                            <tr>
                                <th>Business Segment</th>
                                <th>Product Seg ID</th>
                                <th>Product Seg</th>
                                <th>Total Quantity</th>
                                <th>Total Value(In Lakhs)</th>
                                <th>Total Tonnage</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model?.EnquiryProducts != null && Model?.EnquiryProducts.Count > 0)
                            {
                                @foreach (var item in Model?.EnquiryProducts)
                                {
                                    <tr>
                                        <td>@item.BusinessSegment</td>
                                        <td>@item.ProductSegID</td>
                                        <td>@item.ProductSeg</td>
                                        <td>@item.Quantity</td>
                                        <td>@item.TotalValue</td>
                                        <td>@item.TotalTonnage</td>
                                        <td>
                                            <a class="nav-btn" href="@Url.Action("EnquiryEditProduct", "Lead", new { productName= item.ProductSeg })" style="padding-right:15px;" title="Edit"><i class="fa fa fa-pencil text-primary" style="font-size:18px;font-weight:500;"></i></a>
                                            <a class="nav-btn" href="@Url.Action("EnquiryDeleteProduct", "Lead", new { productName= item.ProductSeg })" style="padding-right:5px;" title="Delete"><i class="fa fa-trash text-red" style="font-size:18px"></i></a>
                                        </td>
                                    </tr>
                                }}

                        </tbody>
                    </table>

                </div>

            </div>

        </div>

    </form>



</section>

@section scripts{
    <script type="text/javascript">


        $('#btnBackToEditCreate').click(function (da) {
            debugger;
            var enVal = $('#LeadId').val();

            window.location = '@Url.Action("ConvertToEnquiry", "EnquiryOpportunity", new { stBack="BACK"})';


            return false;
        });



    </script>
}