@model DPGSalesClient.Models.AttachmentsModel

@section styles{
    <link href="~/css/Index.css" rel="stylesheet" />
}

<style>
    .btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
</style>

<section class="content-header">
    <h1>
       Cost Sheet Documents
    </h1> 
</section>
<section class="content" >

    <form asp-action="Attachments" asp-controller="EnquiryApprovalReport" method="post" >
        <input type="hidden" value="@Model.PendingUploadFiles" asp-for="@Model.PendingUploadFiles" id="datFile" />     
        <input type="hidden" value="@Model.ActivityId" asp-for="@Model.ActivityId"  />   
        <div class="box box-warning" style="padding-right:50px">
            <div class="box-header with-border">
                <h3 class="box-title text-warning">Uploaded Documents</h3>
            </div>
            <div class="box-body">

                <div class="row">
                    <div class="col-md-6 ">
                        @if (Model.UploadedFiles != null && Model.UploadedFiles.Count > 0)
                        {
                            <table id="tblAttachments" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Name</th>
                                        <th>User ID</th>
                                        <th>User Name</th>
                                        <th>Created On</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var file in Model.UploadedFiles)
                                    {
                                        <tr>
                                            <td><a href="@file.FileUrl" target="_blank"><i class="fa fa-download"></i></a></td>
                                            <td>@file.Name</td>
                                            <td>@file.UserID</td>
                                            <td>@file.UserName</td>
                                            <td>@String.Format("{0:dd/MM/yyyy HH:mm:ss}", file.CreatedOn)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <span style="margin-left: 15px;    top: -10px;    position: relative;">No documents uploaded yet.</span>
                        }
                    </div>

                </div>
           
             
                 <h4 class="box-title text-green">New Documents</h4>
               
                
                 <div class="row">

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="exampleInputFile">File input</label><br/>
                            <input type="file" id="cpFileupload">
                            @*<label class="btn btn-default btn-file">
                                Browse <input type="file" style="display: none;" id="cpFileupload">
                            </label>
                            <span id="sp1">test</span>*@
                        </div>

                    </div>
                    <div class="col-md-3">
                        <a id="btnAdd" class="btn btn-warning margin">Add File</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 ">
                        <ul id="uploadFileList" style="padding: 0;"></ul>
                    </div>

                </div>

            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-md-11 ">                       
                        <button class="btn btn-success  margin-r-5 " style="padding-left:35px;padding-right:35px" type="submit">Upload</button>
                        <a class="btn btn-default " href="@Url.Action("Index","EnquiryApprovalReport")" style="padding-left:35px;padding-right:35px">Cancel</a>
                    </div>
                </div>
            </div>
        </div>  
      
    </form>


    <!-- Modal -->
  

</section>


@section scripts{
    @*<script type="text/javascript">
        //$(':file').on('fileselect', function (event, numFiles, label) {
        //    console.log(numFiles);
        //    console.log(label);
        //    $('#sp1').html(label);
        //});
        //$(document).on('change', ':file', function () {
        //    debugger;
        //    var input = $(this),
        //        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        //        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        //    input.trigger('fileselect', [numFiles, label]);
        //});

    </script>*@

    <script type="text/javascript" src="~/js/scripts/Attachments.js">

    </script>
}