@model DPGSalesClient.Models.OrderProduct

@section styles{
<link href="~/css/CreateEdit.css" rel="stylesheet" />
}

<section class="content-header">
    <h1>
        New Order Product
    </h1>
  
</section>
<section class="content" >

    <form asp-action="AddOrderProduct" asp-controller="Quote" method="post" id="frmOrderAddProduct">
        <input type="hidden" asp-for="@Model.WonLossValue" />
        <div class="box box-success" >

            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>BusinessSegment<span class="text-red">*</span></label>                          
                            <input type="text" class="form-control"  asp-for="@Model.BusinessSegment" readonly />  
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Product Segment <span class="text-red">*</span></label>                          
                            <select class="form-control select2" style="width: 100%;" asp-for="@Model.ProductSeg" asp-items="@Model.ProductSegmentList">                               
                            </select>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Total Quantity </label>
                            <input type="number" class="form-control" asp-for="@Model.Quantity">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Contract Value (In Lakhs)<span class="text-red">*</span></label>
                            <input type="number" class="form-control" asp-for="@Model.ContractValue" >
                        </div>
                    </div>
                 
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Tonnage Total<span class="text-red">*</span></label>
                            <input type="number" class="form-control" asp-for="@Model.TotalTonnage">
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="form-group">
                            <label>Turn Over Value(In Lakhs)</label>
                            <input type="number" class="form-control" asp-for="@Model.TurnoverValue">
                        </div>
                    </div>
                </div>        
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Gross Margin(In Lakhs)</label>
                            <input type="number" class="form-control" asp-for="@Model.MarginValue">
                        </div>
                    </div>
                    <div class="col-md-6 ">
                       
                    </div>
                </div>    
                               
           
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-md-11 ">
                        <a class="btn btn-default pull-right nav-btn" href="@Url.Action("ConvertToOrder","Quote",new {qteId="",BusinesSeg=Model.BusinessSegment })" style="padding-left:35px;padding-right:35px">Cancel</a>
                        <button class="btn btn-success pull-right margin-r-5 nav-btn" style="padding-left:35px;padding-right:35px" type="submit">Save</button>

                    </div>
                </div>
            </div>
        </div>

      
    
    </form>


   

</section>


@section scripts{
    <script  src="~/js/scripts/Order/AddProduct.js"></script>


   @*<script type="text/javascript">
       $('#frmAddProduct').validate({
            errorClass: "error-class",
            rules: {
                BusinessSegment:{

                },
                ProductSeg: {
                    required:true
                },
                Quantity: {
                    required: true,
                    number: true
                },
                ContractValue: {
                    required: true,
                    number:true
                },
                TotalTonnage: {
                    required: true,
                    number: true
                },
                TurnoverValue:{
                    number: true
                },
                MarginValue: {
                    number: true
                }
            },
            messages: {
                BusinessSegment: {
                    required: "Business Segment Missing"
                },
                ProductSeg: {
                    required: "Please select Product Segment"
                },
                Quantity: {
                    required: "Please provide Total Quantity",
                    number: "Please enter numarical values"
                },
                ContractValue: {
                    required: "Please provide Total value",
                    number: "Please enter numarical values"
                },
                TotalTonnage: {
                    required: "Please provide Tonnage",
                    number: "Please enter numarical values"
                },
                    TurnoverValue:{
                        number: "Please enter numarical values"
                    },
                    MarginValue: {
                        number: "Please enter numarical values"
                    }
            },
            submitHandler: function (form) {
                // do other things for a valid form
                form.submit();
            },
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            },
            invalidHandler: function (event, validator) {
                // 'this' refers to the form
                $("#initialload").hide();
            }
        });
</script>*@
}