@model DPGSalesClient.Models.QuoteViewModel

@section styles{
    <link href="~/css/Index.css" rel="stylesheet" />
}
<section class="content-header">
    <h1>
        Quotation
    </h1>

</section>
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Search" asp-controller="Quote" method="post" id="searchForm">
                <div class="form-group">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" id="SearchKey" placeholder="Quote ID or Customer Name or Status or Enquiry ID or Lead ID" value="@Model?.SearchKey">
                        <span class="input-group-btn">
                            <button id="btnSearch" class="btn btn-primary btn-flat nav-btn"><i class="fa fa-search"></i></button>
                            <a href="@Url.Action("Index","Quote")" class="btn btn-primary btn-flat  nav-btn"><i class="fa fa-close"></i></a>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        @*<div class="col-md-2 col-lg-offset-4">
            <a href="@Url.Action("Create","Quote")" class="btn btn-primary btn-flat nav-btn pull-right" style="margin-right:5px"><i class="fa fa-plus"></i> <span class="hidden-xs">New</span></a>
        </div>*@
    </div>

    <div class="row table-responsive text-nowrap">
        <div class="col-xs-12">

            <table id="example2" class="table table-striped">
                <thead>
                    <tr>
                        <th>Division</th>
                        <th>Branch</th>
                        <th>QuoteNo</th>
                        <th>EnquiryID</th>
                        <th>LeadID</th>
                        <th>Customer</th>
                        <th>Business Segment</th>
                        <th>Status</th>
                        <th>Contract Value(in Lakhs)</th>
                        <th>Probablity(%)</th>
                        <th style="width:100px"></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.QuoteList != null && Model.QuoteList.Count > 0)
                    {
                        @foreach (var item in Model.QuoteList)
                        {
                            string strCssDiable = "disable";

                            if(ViewBag.RoleId == "ROLE000010")
                            {
                                strCssDiable = "disable";
                            }
                            else if (item.Status.ToUpper() == "OPEN")
                            {
                                strCssDiable = "";
                            }
                            else
                            {
                                strCssDiable = "disable";
                            }

                    <tr>
                        <td>@item.Division</td>
                        <td>@item.Branch</td>
                        <td>@item.QuoteID</td>
                        <td>@item.EnquiryID</td>
                        <td>@item.LeadID</td>
                        <td>@item.CustomerName</td>
                        <td>@item.BusineeSegment</td>
                        <td>@item.Status</td>
                        <td style="text-align:center">@item.ContractValue</td>
                        <td style="text-align:center">@item.Probablity</td>
                        <td style="width:90px">
                            <a class="nav-btn" href="@Url.Action("Attachments", "Quote", new { qteId = @item.QuoteID })" style="padding-right:10px;" title="Attachments"><i class="fa fa-paperclip text-aqua" style="font-size:18px;font-weight:500;"></i></a>
                            <a class="nav-btn " href="@Url.Action("Details", "Quote", new { qteId = @item.QuoteID, status = @item.Status.ToUpper() })" style="padding-right:10px;" title="Details"><i class="fa fa-list text-orange" style="font-size:18px"></i></a>
                            <a class="nav-btn @strCssDiable" href="@Url.Action("ActivityIndex", "Quote", new { qteId = @item.QuoteID, custname = @item.CustomerName })" style="padding-right:5px;" title="Activities"><i class="fa fa-calendar-check-o text-primary" style="font-size:18px"></i></a>
                        </td>

                    </tr>
                            }
                        }
                </tbody>
            </table>





        </div>
        <!-- /.col -->
    </div>

</section>

@section scripts{
    <script type="text/javascript">
        $('#example2').DataTable({
            'paging': true,
            'lengthChange': false,
            'scrollX': true,
            'searching': false,
            'ordering': true,
            'info': true,
            'autoWidth': false,
            'pageLength': 8,
            'order': [[2, 'desc']]
        });

        $('#btnSearch').click(function () {
            var input = $("<input>").attr("type", "hidden").attr("name", "strKey").val($('#SearchKey').val());
            if ($('#SearchKey').val() != null && $('#SearchKey').val() != "") {
                $('#searchForm').append(input);
                $('#searchForm').submit();
            } else {

                alert('Please provide Quote Id or Customer Name');
                return false;
            }
        });
    </script>
}