@model DPGSalesClient.Models.QuoteItemModel

<style>
    .table>thead>tr>th{
            background-color: #0c5792;
    color: white;
    font-weight:600;
    }
</style>
<section class="content-header">
    <h1>
        Quote Products
    </h1>
</section>
<section class="content">
 
    <div class="row" style="margin-bottom:10px">
        <div class="col-md-4 ">
            <a  id="btnBackToEditCreate" class="btn btn-default btn-flat nav-btn pull-left"><i class="fa fa-backward"></i> <span class="hidden-xs">Back</span></a>
        </div>
        <div class="col-md-4 col-lg-offset-4">

            <a href="@Url.Action("AddProduct","Quote", new { BusinesSeg = Model.BusinessSegment })" class="btn btn-info btn-flat nav-btn pull-right"><i class="fa fa-plus"></i> <span class="hidden-xs">New</span></a>
        </div>

    </div>
        <input type="hidden" asp-for="@Model.BusinessSegment" />
       <input type="hidden" asp-for="@Model.QuoteID" />

        <div class="box box-info" >           
            <div class="box-body">          
                <div class="col-xs-12">
                    <table id="example2" class="table table-hover">
                        <thead>
                            <tr>
                                <th>Business Segment</th>
                                <th>Product Seg ID</th>
                                <th>Product Seg</th>
                                <th>Total Quantity</th>
                                <th>Total Value(In Lakhs)</th>
                                <th>Total Tonnage</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model?.Products != null && Model?.Products.Count > 0)
                            {
                                @foreach (var item in Model?.Products)
                                {
                                    if (item.EntityState != QuotationProxy.EntityState.Deleted)
                                    {
                                    <tr>
                                        <td>@item.BusinessSegment</td>
                                        <td>@item.ProductSegID</td>
                                        <td>@item.ProductSeg</td>
                                        <td>@item.Quantity</td>
                                        <td>@item.TotalValue</td>
                                        <td>@item.TotalTonnage</td>
                                        <td>
                                            <a class="nav-btn" href="@Url.Action("EditProduct", "Quote", new { productId = item.ProductSegID })" style="padding-right:15px;" title="Edit"><i class="fa fa fa-pencil text-primary" style="font-size:18px;font-weight:500;"></i></a>
                                            <a class="nav-btn" href="@Url.Action("DeleteProduct", "Quote", new { productId = item.ProductSegID })" style="padding-right:5px;" title="Delete"><i class="fa fa-trash text-red" style="font-size:18px"></i></a>
                                        </td>
                                    </tr>}
                                }}

                        </tbody>
                    </table>

                </div>
                
            </div>
         
        </div>

 

  

</section>

@section scripts{
    <script type="text/javascript" >
      
        $('#btnBackToEditCreate').click(function (da) {
            debugger;
            var enVal = $('#QuoteID').val();
            if (enVal != "" && enVal != null) {
                debugger;
                var url = '@Url.Action("Edit","Quote")';
                window.location = url + "?stBack=BACK";
            } else {

                window.location = '@Url.Action("Create","Quote",new { stBack="BACK"})';
            }

            return false;
        });
    </script>
}